        <footer>
            <div class="footer-nav">
                <img alt="Site Log">
                <ul>
                    <li><a href="/">Main Page</a></li>
                    <li><a href="/about">About Us</a></li>
                </ul>
            </div>
            <div id="copyright">
                <p>Copyright &copy; 2024</p>
            </div>
        </footer>
    </body>
</html>