<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>German Language | <%= title %> </title>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <header>
            <div class="site-title">
                <img alt="Logo" >
                <a href="/"><h1>Learning Deutsch</h1></a>
                <p>A net for learning German language</p>
            </div>
            <%- include('./navbar.ejs') %>
        </header>
        <%- include('./flash_messages.ejs') %>