<%- include('../partials/header.ejs') %>
	<form action="/lessons/create" method="post">
		<div class="container">
			<h1>Creating A New Lesson</h1>
			<%- include('../partials/flash_messages.ejs') %>

			<label for="lesson"><b>Lesson Number</b></label>
			<input type="text" placeholder="Lesson Number " name="lessonNo" id="lessonNo" required>

			<label for="title"><b>Title</b></label>
			<input type="text" placeholder="Lesson Title" name="title" id="title" required>
			
			<label for="deutsch"><b>Deutsch</b></label>
			<textarea name="deutsch" id="deutsch" rows="10" cols="30">
			</textarea> 
		
			<label for="dari"><b>Dari</b></label>
			<textarea name="dari" id="dari" rows="10" cols="30">
			</textarea>       
			<hr>

			<button type="submit">Create Lesson</button>
		</div>
		
		<div class="container lessonQuiz">
			<p>To create Quiz for the Lesson. <a href="/lessons/create_quiz">Create Quiz</a>.</p>
		</div>
	</form> 
<%- include('../partials/footer.ejs') %>