main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main h1 {
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px;
}

main p, main h3, main h4 {
    padding: 10px;
    margin: 5px;
}

main .content {
    flex-basis: 81%;
    padding: 10px;
    position: relative;
}

main .content #lessons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 950px) {
    main .content #lessons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    main .content #lessons {
        grid-template-columns: 1fr 1fr;
    }
}

main .content #lessons div {
    margin: 15px;
    border: 1px solid #a4a7a6;
    border-radius: 5px;
    padding: 5px;
}

main .content #lessons div:hover {
    border: 1px solid #f1f1f1
}

main .content #lessons div:hover p, main .content #lessons div:hover h3, main .content #lessons div:hover h4 {
    color: #04AA6D;
}


main aside {
    flex-basis: 15.5%;
    padding: 10px;
}

main .content #lessonContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .content #lessonContent .deutsch {
}
main .content #lessonContent .dari {
    direction: rtl;
}

main .content #quiz {
    position: absolute;
    height: 40px;
    bottom: 10px;
    right: 20px;
    font-size: 20px;
    width: 10%;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #04AA6D;
    color: white;
    opacity: 0.9;
    transition: opacity 0.5s;
}

main .content #quiz:hover {
    opacity: 1;
}

