footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #777;
    margin-top: 10px;
    margin-bottom: 20px;
}

footer .footer-nav {
    flex-basis: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-top: 1px solid #ddd;
}

.footer-nav ul {
    flex-basis: 40px;
}

.footer-nav ul li {
    list-style-type: none;
    padding-top: 5px;
    padding-left: 15px;
}

.footer-nav ul li a:hover {
    font-size: 1.1em;
    font-weight: 700;
    color: #04AA6D;
    cursor: pointer;
}


footer #copyright {
    text-align:center;
    flex-basis: 30px;
}

footer #copyright p {
    padding-top: 5px;
}
