<%- include('./partials/header.ejs') %>
<main>
    <div class="content">
        <h1>About US</h1>
        <p>We are the first who teaches Deutsch in Dari. </p>
    </div>
    <aside>
        <h1>ASIDE</h1>
        <p>This is an Aside Part.</p>
    </aside>
</main>
<%- include('./partials/footer.ejs') %>
