<%- include('../partials/header.ejs') %>
<main>
    <form action="/users/login" method="post">
        
    <div class="container">
        <h1>Login Form</h1>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
            
        <button type="submit">Login</button>
        <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>
<!--
    <div class="container" style="background-color:#f1f1f1">
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
-->
    </form>
</main>
<%- include('../partials/footer.ejs') %>